# Files
.project
.classpath
test.txt

# Directories
build
bin
/eval/

.gradle
**/.vscode
.settings


# VSCode 
vscode/node_modules
vscode/out
vscode/*.jar
vscode/*.vsix
vscode/package-lock.json
.VSCodeCounter
